<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite"
           description=".NET Framework Data Provider for SQLite"           
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="StoreSQLiteProvider" providerName="System.Data.SQLite" connectionString="Data Source=store.db3" />
    <add name="StoreSqlProvider" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\MSSQLLocalDB;Integrated Security=SSPI;Initial Catalog=LazyAdmin" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>